# Defines the local PostgreSQL connection.
POSTGRES_DB=lookback
POSTGRES_USER=lookback
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433

# Defines the Django configuration.
DJANGO_SECRET_KEY=
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Defines TMDB authentication.
TMDB_ACCESS_TOKEN=
