# Defines the local PostgreSQL connection.
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433
POSTGRES_SSLMODE=prefer

# Defines the Django configuration.
DJANGO_SECRET_KEY=
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000
DJANGO_SECURE_HSTS_SECONDS=0

# Defines TMDB authentication.
TMDB_ACCESS_TOKEN=
