# Ignores local secrets.
.env

# Ignores Python environments and cache files.
.venv/
db.sqlite3
**/__pycache__/
*.py[cod]

# Ignores frontend dependencies and builds.
templates/node_modules/
templates/dist/
